          <div class="content-area">
            <div class="animated-sections">
              <!-- Home Subpage -->
              <section data-id="home" class="animated-section start-page">
                <div class="section-content vcentered">

                    <div class="row">
                      <div class="col-sm-12 col-md-12 col-lg-12">
                        <div class="title-block">
                          <h2>Le Thanh Phuc</h2>
                          <div class="owl-carousel text-rotation">                                    
                            <div class="item">
                              <div class="sp-subtitle">Web/Mobile Application Pentester</div>
                            </div>
                            
                            <div class="item">
                              <div class="sp-subtitle">Bughunter</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
              </section>
              <!-- End of Home Subpage -->

              <!-- About Me Subpage -->
              {% include about.html %}
              <!-- End of About Me Subpage -->

              <!-- Resume Subpage -->
              {% include resume.html %}
              <!-- End of Resume Subpage -->

              <!-- Portfolio Subpage -->
              {% include portfolio.html %}
              <!-- End of Portfolio Subpage -->

              <!-- Blog Subpage -->
              {% include blog.html %}
              <!-- End of Blog Subpage -->

              <!-- Contact Subpage -->
              {% include contact.html %}
              <!-- End of Contact Subpage -->
            </div>
          </div>