
* {margin: 0; padding: 0;}

html, body {
height: 100%;
overflow: hidden;
}body {
width: 100%;
height:100%;
background: #000;
background-size: 100%;
perspective: 600px;


-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
-khtml-user-select: none;
user-select: none;

}
ul{
list-style: none;
}
li {
float: left;
}
a {
text-decoration: none;
}
nav {
padding-top: 20px;
height: 20px;
}
nav li {
width: 50px;
height: 24px;
margin-left: 20px;
text-align: center;
}
nav li a {
display: block;
width: 100%;
height: 100%;
line-height: 24px;
background-color: #999;
}
.stars {
position: absolute;
top: 50%;
left: 50%;
width: 4px;
height:4px;
-webkit-border-radius:50%;
-moz-border-radius:50%;
border-radius:50%;
animation: fly 3s linear infinite;
transform-style: preserve-3d;

 

}
.stars:before, .stars:after {
content: "";
position: absolute;
width: inherit;
height: inherit;
box-shadow: inherit;
}
.stars:before {
transform: translateZ(-100px);
opacity: .6;
}
.stars:after {
transform: translateZ(-600px);
opacity: .4;
}

@keyframes fly {
from {
transform: translateZ(0px);
opacity: .6;
}
to {
transform: translateZ(300px);
opacity: 1;
}
}

#perspective{
perspective: 800px;
}
#wrap {
width: 150px;
height: 170px;
margin: 160px auto;
position: relative;
transform-style: preserve-3d;
transform: rotateX(-10deg);
}
#wrap img{
position: absolute;
top: 0;

width: 120px;
height: 160px;
border: 1px solid #333;
padding: 4px;
background-color: rgba(200,200,200,0.4);
-webkit-box-reflect: below 10px -webkit-linear-gradient(top ,rgba(0,0,0,0) 40%,rgba(0,0,0,0.5) 100%);
}